@model Audioagent_Image_API.Models.ImageModel
<table class="table">
    <tbody>
        <tr>
            <td colspan="2" class="mod-image__image-container">
                <img class="mod-image__image" src="@Model.Url" />
            </td>
        </tr>
        <tr><th>Url</th><td><a class="mod-image__url" href="@Model.Url">@Model.Url</a></td></tr>
        @foreach (var item in Model.Metadata)
        {
            <tr>
                <th>@item.Key</th>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>